body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;

  /* height: 100vh; */
  /* margin: 0; */
}

/* .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  } */

.main-content {
  /* display: flex; */
  /* width: 50%; */
}

.main-content form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(187, 216, 189);
}

.test {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

h2 {
  /* text-align: center; */
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input,
select {
  /* min-width: 10rem; */
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.submit-button {
  width: 25%;
}

.form-footer {
  text-align: center;
  font-size: 12px;
  color: #777;
}
